<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pizza.name %>
</p>

<p>
  <strong>Topping:</strong>
  <%= @pizza.topping %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pizza.size %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
